body {
    font-family: sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    max-width: 200px;
}

.nav-links {
    flex: 1;
    text-align: right;
    display: none;
}

.nav a {
    text-decoration: none;
    margin: 10px;
    font-size: 1.2rem;
}

.menu-icon {
    border: 0;
    position: absolute;
    right: 20px;
}

.menu-icon>div {
    width: 35px;
    height: 35px;
    background-color: black;
    margin: 6px 0;
}