#features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-card {
    box-shadow: 0px 0px 6px 1px #ddd;
    padding: 10px;
    
    width: 100%;

    margin: 10px;
    display: flex;
    align-items: center;
}

.feature-card > img {
    margin: 30px;
    max-width: 80px;
}

.feature-card > h3 {
    margin: 0px;
}

